*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'M PLUS Code Latin', monospace;
  font-weight: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 500px;
  margin: 0;
  background: linear-gradient(to right, #2C2C54, #A40E4C);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid>button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
  padding: 0;
}

.calculator-grid>button:hover {
  background-color: rgba(255, 255, 255, .90);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(44, 44, 84, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  text-align: right;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.user-guide img {
  position: relative;
  margin: 1rem;
  padding: 1rem;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, 0.75);
}

.user-guide img:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.guide-reveal {
  position: absolute;
  top: 33%;
  left: 38%;
  width: 300px;
  margin: 0 auto 0;
  padding: 0.5rem 1rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  opacity: 0;
}

.user-guide img:hover+.guide-reveal {
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.guide-reveal span {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: black;
  padding: 0 0.2rem;
}

@media(max-width: 767px) {
  body {
    flex-direction: column;
  }

  .guide-reveal {
    left: 20%;
  }
}